.three__columns {
    background: transparent url('../../assets/3_cols_bg.png') 0% 0% no-repeat padding-box;
    font-weight: 200;
    color: #3C3C3C;
    display: flex;
    justify-content: space-around;
    .column {
        width: 20%;
        margin: 5vh auto;
        text-align: center;
        h2 {
            font-size: 4em;
            font-weight: 200;
        }
        h3 {
            font-weight: 200;
            margin-bottom: 10px;
        }
    }
}