@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,600,700&display=swap');

@import "./reset";
@import "./settings/fonts";
@import "./settings/colors";

body {
    font-family: $font-base;
    color: $second-color;
    font-weight: 300;
}